/****************************************
  Inherited Syles
*****************************************/
/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
  color: #444;
  font: 12pt 'Roboto', Arial;
  font-weight: 300; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Defaults
*****************************************/
a {
  text-decoration: none; }

/****************************************
  Helpers
*****************************************/
/****************************************
  Layout
*****************************************/
/**
 * Basic structure of all sections
 */
.page .container {
  width: 100%; }
  .page .container section {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 480px) {
      .page .container section {
        padding-left: 40px;
        padding-right: 40px; } }
    @media screen and (min-width: 768px) {
      .page .container section {
        padding-left: 100px;
        padding-right: 100px; } }
    .page .container section h2 {
      font-size: 1.9em;
      border-bottom: 2px solid rgba(190, 186, 194, 0.8);
      text-transform: uppercase; }
    .page .container section > div {
      width: 90%;
      margin: 0 auto; }

.page .container:nth-child(even) h2 {
  color: #fff; }

/**
 * Header section
 */
.primary-header {
  position: fixed;
  width: 100%;
  background-color: black;
  text-transform: uppercase;
  text-align: center; }
  .primary-header .logo {
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #777; }
    @media screen and (min-width: 500px) {
      .primary-header .logo {
        margin-right: 20px;
        border-bottom: 0; } }
  .primary-header .logo span {
    background-color: #fa4032;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px; }
  .primary-header .hamburger {
    margin-left: 20px; }
    .primary-header .hamburger .line:first-child {
      margin-top: 5px; }
    .primary-header .hamburger .line {
      border-bottom: 4px solid #bbb;
      width: 35px;
      margin-bottom: 5px; }
    @media screen and (min-width: 500px) {
      .primary-header .hamburger {
        display: none; } }
  .primary-header .main-nav {
    border-bottom: 1px solid #777; }
    @media screen and (min-width: 500px) {
      .primary-header .main-nav {
        border: 0; } }
  .primary-header .menu {
    margin-top: 0;
    display: none;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0; }
    .primary-header .menu a {
      color: #999; }
    .primary-header .menu a:hover {
      color: #fff;
      background-color: #fa4032; }
    @media screen and (min-width: 500px) {
      .primary-header .menu {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .primary-header .menu li {
          -webkit-flex: auto;
          -ms-flex: auto;
          flex: auto; }
          .primary-header .menu li a {
            display: inline-block;
            padding: 20px; } }
  .primary-header .slide-menu {
    display: block;
    height: 360px; }
  @media screen and (min-width: 500px) {
    .primary-header {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: .9em; } }
  @media screen and (min-width: 600px) {
    .primary-header {
      font-size: 1em; } }
  @media screen and (min-width: 768px) {
    .primary-header {
      font-size: 1.5em; } }

.hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #999;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/sublime-text-1200px.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .hero {
      height: 500px; } }
  .hero h1 {
    margin-top: 90px;
    color: #fff;
    font-size: 3em; }
    @media screen and (max-width: 320px) {
      .hero h1 {
        font-size: 2em; } }

.about {
  background-color: #fff; }
  .about .bio {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    @media screen and (min-width: 500px) {
      .about .bio {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    .about .bio img {
      display: block;
      margin: 0 auto;
      border-radius: 50%; }
      @media screen and (min-width: 600px) {
        .about .bio img {
          margin: 0 20px; } }
    @media screen and (min-width: 500px) {
      .about .bio h1,
      .about .bio p {
        width: 100%; } }

/*
* Skills section
*/
.skills {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/collaboration-1200px.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .skills ul {
    list-style-type: none;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .skills ul li {
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      font-size: 1.1em;
      margin: 5px;
      width: 100%; }
      @media screen and (min-width: 480px) {
        .skills ul li {
          width: calc(50% - 10px); } }
      @media screen and (min-width: 1000px) {
        .skills ul li {
          max-width: calc(33.33% - 10px); } }
    .skills ul i::after {
      content: "";
      margin-right: 5px; }

/**
 * Portfolio section
 */
.portfolio {
  background-color: #fff; }
  @media screen and (max-width: 320px) {
    .portfolio {
      padding-left: 0 !important;
      padding-right: 0 !important; } }
  @media screen and (min-width: 768px) {
    .portfolio .projects {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 100%;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .portfolio .project-tile {
    background-color: rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin: 5px; }
    .portfolio .project-tile img {
      border-radius: 50%;
      display: block;
      margin: auto; }
      @media screen and (max-width: 320px) {
        .portfolio .project-tile img {
          max-width: 100%; } }
    @media screen and (min-width: 768px) {
      .portfolio .project-tile {
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
        max-width: calc(50% - 20px); } }
    @media screen and (min-width: 1000px) {
      .portfolio .project-tile {
        max-width: calc(33.33% - 10px); } }
    .portfolio .project-tile .project-info h3 {
      font-size: 1.2em;
      font-weight: 400;
      text-transform: uppercase; }
    .portfolio .project-tile .project-info .technology-used {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style-type: none;
      padding-left: 0; }
      .portfolio .project-tile .project-info .technology-used li {
        font-size: .75em;
        font-weight: 100;
        margin: 2px;
        padding: 3px;
        color: #fff;
        background-color: #fa812f;
        border-radius: 3px; }

/**
 * Education section
 */
.education {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/desk-computer-1200px.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .education > div {
    color: #fff; }
    .education > div h3 {
      font-weight: 400;
      font-size: 1.5em;
      text-transform: uppercase; }
    .education > div h4 {
      padding-left: 10px;
      border-left: 2px solid #fa4032;
      font-size: 1em; }

/**
 * Contact section
 */
.contact {
  background-color: #fff; }
  .contact .social ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 50px; }
    .contact .social ul li {
      display: inline-block; }
      .contact .social ul li a {
        display: inline-block;
        font-size: 2em;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        color: rgba(190, 186, 194, 0.75); }
      .contact .social ul li a:hover {
        color: #bebac2; }

.primary-footer {
  background-color: #000;
  color: #bebac2; }
  .primary-footer > p {
    text-align: center;
    margin: 0;
    padding: 20px; }

/****************************************
  Components
*****************************************/
