/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Roboto', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/

a {
	text-decoration: none;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

/**
 * Header section
 */

.primary-header {

	padding: 20px 20px;
	text-transform: uppercase;
	text-align: center;

	.logo {
		margin-right: 20px;
	}

	.logo span {
		color: white;
		background-color: $rubyred;
		font-weight: 400;
		padding-left: 5px;
		padding-right: 5px;
	}

	.hamburger {
		
		background-color: green;
		.line {
			border-bottom: 4px solid #bbb;
			width: 35px;
			margin-bottom: 6px;
		}

		@include wider-than(500px) {
			display: none;
		}
	
	}
	
	.main-nav {
		// width: 100%;
	}

	.menu {
		display: none;
		margin: 0;
		list-style-type: none;
		padding-left: 0;

		@include wider-than(500px) {
			display: flex;
			// width: 100%;

			li {
				flex: auto;

				a {
					display: inline-block;
					padding: 5px;
					color: green;
				}
			}
		}
	}

	.slide-menu {
		display: block;
		height: 360px;
	}
	
	@include wider-than(500px) {
		display: flex;
		font-size: .9em;
	}

	@include wider-than(600px) {
		font-size: 1em;
	}

	@include wider-than(768px) {
		font-size: 1.5em;	
	}
	
}



.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #999;
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .9)), url(../images/sublime-text-original.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 200px;
	text-align: center;

	h1 {
		color: $white;
	}

}

.about {
	
	background-color: $white;

	> div {
		
		// display: flex;
		// flex-direction: column;
		justify-content: center;
		text-align: center;

		
		@include wider-than(500px) {
			display: flex;	
		}
		
		img {
			display: block;
			margin: 0 auto;
			border-radius: 50%;

			@include wider-than(600px){
				margin: 0 20px;
			}
		}
	}
}

/*
* Skills section
*/

.skills {

	ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		
		li {
			margin: 5px;
			width: 100%;
		}

		i::after {
			content: "";
			margin-right: 5px;
		}
	}
}



/**
 * Portfolio section
 */

.portfolio {
	
	background-color: $white;
	
	.projects {

		@include wider-than(768px) {
			display: flex;
			flex-wrap: wrap;
		}	
	}
	
	.project-tile {
		flex: auto;
		
		background-color: yellow;
		border: 2px solid black;

		img {
			border-radius: 50%;
			display: block;
			margin: auto;

			@include wider-than(480px) {
				margin-right: 20px;
			}
		}

		@include wider-than(480px) {
		 	display: flex;
		}

		@include wider-than(768px) {
			width: 40%;
		}

		.project-info {

			.technology-used {
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0;

				li {
					// flex: auto;
					font-size: .75em;
					font-weight: 100;
					margin: 2px;
					padding: 3px;
					color: $white;
					background-color: $grapefruit;
					border-radius: 3px;
				}
			}
		}
	}
}

/**
 * Education section
 */

.education {

	> div {

		h3 {
			font-weight: 400;
		}

		h4 {
			padding-left: 10px;
			border-left: 2px solid $rubyred;
		}
	}
}




/**
 * Contact section
 */

.contact {
	
	background-color: $white;
	.social {

		ul {
			list-style-type: none;
			text-align: center;
			padding-left: 0;
			margin-top: 50px;
			li {
				display: inline-block;

				a {
					display: inline-block;
					font-size: 2em;
					padding: 10px;
					margin-left: 10px;
					margin-right: 10px;
					color: rgba($french-gray, .75);

				}

				a:hover {
					color: rgba($french-gray, 1.0);
				}
			}
		}
	}
}

.primary-footer {

	background-color: #000;
	color: $french-gray;
	
	> p {
		text-align: center;
		margin: 0;
		padding: 20px;
	}
}


/****************************************
  Components
*****************************************/

/**
 * Basic structure of all sections
 */

.container {
	width: 100%;
	background-color: pink;

	section {
		padding: 50px 20px;

		h2 {
			font-size: 1.5em;
			border-bottom: 2px solid rgba($french-gray, .8);
			text-transform: uppercase;
		}

		> div {
			width: 90%;
			margin: 0 auto;
		}
	}
}