/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Roboto', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/

a {
	text-decoration: none;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

/**
 * Basic structure of all sections
 */

.page {
	.container {
		width: 100%;
	
		section {
			padding-top: 50px;
			padding-bottom: 100px;
			padding-left: 20px;
			padding-right: 20px;

			@include wider-than(480px) {
				padding-left: 40px;
				padding-right: 40px;
			}
			
			@include wider-than(768px) {
				padding-left: 100px;
				padding-right: 100px;
			}

			h2 {
				font-size: 1.9em;
				border-bottom: 2px solid rgba($french-gray, .8);
				text-transform: uppercase;
			}
		
			> div {
				width: 90%;
				margin: 0 auto;
			}
		}
	}

	.container:nth-child(even) h2 {
		color: $white;
	}
}

/**
 * Header section
 */

.primary-header {
	position: fixed;
	width: 100%;
	background-color: $black;
	text-transform: uppercase;
	text-align: center;

	.logo {
		color: $white;
		padding: 20px;
		border-bottom: 1px solid #777;

		@include wider-than(600px) {
			border-bottom: 0;
		} 

		@include wider-than(650px) {
			margin-right: 20px;
		}
	}

	.logo span {
		background-color: $rubyred;
		font-weight: 400;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.hamburger {
		margin-left: 20px;
		
		.line:first-child {
			margin-top: 5px;
		}

		.line {
			border-bottom: 4px solid #bbb;
			width: 35px;
			margin-bottom: 5px;
		}

		@include wider-than(600px) {
			display: none;
		}
	}
	
	.main-nav {
		border-bottom: 1px solid #777;

		@include wider-than(600px) {
			border: 0;
		}
	}

	.menu {
		margin-top: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
		padding-left: 0;

		li:first-child {
			border-top: 1px solid #777;

			@include wider-than(600px) {
				border-top: 0;
			}
		}

		li {
			padding: 5px;

			@include wider-than(600px) {
				padding: 0;
			}
		}

		a {
			color: #999;
		}

		a:hover {
			color: $white;
			background-color: $rubyred;
		}

		@include wider-than(600px) {
			display: flex;

			li {
				flex: auto;
				border-top: 0;

				a {
					display: inline-block;
					padding: 20px;
				}
			}
		}
	}

	.slide-menu {
		display: block;
	}

	@include wider-than(600px) {
		display: flex;
		font-size: .7em;
	}

	@include wider-than(650px) {
		font-size: .8em;
	}

	@include wider-than(768px) {
		font-size: 1em;	
	}

	@include wider-than(1000px) {
		font-size: 1.5em;	
	}

}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #999;
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../images/computer-ready-1200px.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 500px;
	text-align: center;
	
	@include wider-than(480px) {
		height: 500px;
	}

	h1 {
		margin-top: 90px;
		color: $white;
		font-size: 3em;

		@include less-than(320px) {
			font-size: 2em;
		}
	}
}

.about {
	background-color: $white;

	.bio {
		justify-content: center;
		text-align: center;

		@include wider-than(600px) {
			display: flex;
			text-align: left;
		}
		
		img {
			display: block;
			margin: 0 auto;
			border-radius: 50%;

			@include wider-than(600px) {
				margin-left: 20px;
				margin-right: 40px;
			}
		}

		p {
			line-height: 2;
		}
	}
}

/*
* Skills section
*/

.skills {
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../images/tools-1200px.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	ul {
		list-style-type: none;
		color: $white;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		li {
			flex: auto;
			font-size: 1.1em;
			margin: 5px;
			width: 100%;

			@include wider-than(480px) {
				width: calc(50% - 10px);
			}

			@include wider-than(1000px) {
				max-width: calc(33.33% - 10px);
			}
		}

		i::after {
			content: "";
			margin-right: 5px;
		}
	}
}

/**
 * Portfolio section
 */

.portfolio {
	background-color: $white;
	
	@include less-than(320px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.projects {

		@include wider-than(768px) {
			display: flex;
			max-width: 100%;
			flex-wrap: wrap;
			justify-content: center;
		}	
	}
	
	.project-tile {
		background-color: rgba($black, .09);
		padding: 20px;
		margin: 5px;

		img {
			border-radius: 50%;
			display: block;
			margin: auto;

			@include less-than(320px) {
				max-width: 100%;
			}
		}

		@include wider-than(480px) {
		 	
		}

		@include wider-than(768px) {
			flex: auto;
			max-width: calc(50% - 20px);
		}

		@include wider-than(1000px) {
			max-width: calc(33.33% - 10px);
		}

		.project-info {
			
			h3 {
				font-size: 1.2em;
				font-weight: 400;
				text-transform: uppercase;
			}

			p {

			}

			.technology-used {
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				padding-left: 0;

				li {
					font-size: .75em;
					font-weight: 100;
					margin: 2px;
					padding: 3px;
					color: $white;
					background-color: $grapefruit;
					border-radius: 3px;
				}
			}
		}
	}
}

/**
 * Education section
 */

.education {
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../images/books-1200px.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
	> div {
		color: $white;

		h3 {
			font-weight: 400;
			font-size: 1.5em;
			text-transform: uppercase;
		}

		h4 {
			padding-left: 10px;
			border-left: 2px solid $rubyred;
			font-size: 1em;
		}
	}
}

/**
 * Contact section
 */

.contact {
	background-color: $white;
	
	.social {

		ul {
			list-style-type: none;
			text-align: center;
			padding-left: 0;
			margin-top: 50px;
			
			li {
				display: inline-block;

				a {
					display: inline-block;
					font-size: 2em;
					padding: 10px;
					margin-left: 10px;
					margin-right: 10px;
					color: rgba($french-gray, .75);
				}

				a:hover {
					color: rgba($french-gray, 1.0);
				}
			}
		}
	}
}

.primary-footer {
	background-color: #000;
	color: $french-gray;
	
	> p {
		text-align: center;
		margin: 0;
		padding: 20px;
	}
}

/****************************************
  Components
*****************************************/