// Color scheme

$rubyred: #fa4032;

$citrus: #faaf08;

$grapefruit: #fa812f;

$fig: #4c3f54;

$french-gray: rgb(190, 186, 194);

$midnight-blue: #1e1f26;

$off-white: #fef3e2;

$white: #fff;

$black: rgb(0, 0, 0);